.LoadMore {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100px;

  background-color: blue;
  border-radius: 20px;

  &__button {
    box-sizing: border-box;
    padding: 0 168px;
    border: 0;
    background-color: transparent;
  }

  &__text {
    color: white;
  }
}
